extends layout

block content
    
    
    .row
        .col-sm-6.col-sm-offset-3
            h1.align-center 1
            h2.align-center 2
            p.align-center 3
            br
            br
            include choose-inbox
